body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #a8dadc;
  height: 50px;
}
header h1 {
  display: inline;
}

.navbar {
  text-align: right;
  float: right;
  margin: 20px 10px;
}

.navbar a {
  margin-left: 10px;
}

figure {
  width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  width: 30%;
}



footer {
  text-align: center;
  margin-top: 50px;
  background-color: #a8dadc;
}



